.dots-container{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.circles{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    color: var(--light-color);
    box-shadow: none;
    border: 0;
    position: relative;

}

.circle-current {
    background-color: var(--blue-color);

}

.circle-current::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid var(--blue-color);
    border-radius: 100%;
    animation: circle 1.5s 0s infinite linear;
    transform: translateX(-50%) translateY(-50%);

}
.circle-current::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid var(--blue-color);
    border-radius: 100%;
    animation: circle 1.5s 0s infinite linear;
    animation-delay: 300ms;
    transform: translateX(-50%) translateY(-50%);

}

@keyframes circle {
    from {
      transform: translateX(-50%) translateY(-50%) scale(0) ;
      opacity: 1;
    }
    to {
      transform: translateX(-50%) translateY(-50%) scale(2.5) ;
      opacity: 0;
    }
  }