.dots-container {
    display: flex;
    gap: 30px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

.circles {
    display: block;
    padding: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    color: var(--light-color);
    box-shadow: none;
    border: 0;
    position: relative;
    aspect-ratio: 1 / 1;


}

.circle-current {
    background-color: var(--blue-color);

}

.circle-current::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid var(--blue-color);
    border-radius: 100%;
    animation: circle 1.5s 0s infinite linear;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0);
    aspect-ratio: 1 / 1;


}

.circle-current::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid var(--blue-color);
    border-radius: 100%;
    animation: circle 1.5s 0s infinite linear;
    animation-delay: 300ms;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0);
    aspect-ratio: 1 / 1;


}

@keyframes circle {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(0);
        opacity: 0;
    }
    49% {
        transform: translateX(-50%) translateY(-50%) scale(0);
        opacity: 0;
    }

    50% {
        transform: translateX(-50%) translateY(-50%) scale(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) scale(2.5);
        opacity: 0;
    }
}