@import './variable.css';

@font-face {
    font-family: "Raleway";
    font-weight: 400;
    src: url("../fonts/Raleway-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Raleway";
    font-weight: 700;
    src: url("../fonts/Raleway-SemiBold.woff2") format("woff2");
}



*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    margin: 0;
    --color-text: #fff;
    --color-bg: #111;
    --color-link: #fff;
    --color-link-hover: #fff;
    color: var(--color-text);
    background-color: var(--dark-color);
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    background-image: linear-gradient(rgba(120, 120, 120, 0.2), rgba(120, 120, 120, 0.2));
    background-size: cover;
    height: 100vh;
    height: var(--app-height);
}

.demo-2 {
    background-image: linear-gradient(rgba(120, 120, 120, 0.2), rgba(120, 120, 120, 0.2));
}




a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
    opacity: 0.7;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: underline;
    opacity: 1;
}

.frame {
    padding: 20px;
    /* text-align: center; */
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--app-height);
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
}

.frame__title {
    font-size: 45px;
    /* margin: 0 0 1rem; */
    font-weight: 600;
    line-height: .9;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: auto;

}

.frame__links {
    display: inline;
}


.frame__button {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    fill: #fff;
    width: 60px;
    height: 60px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-self: center;
    display: block;
    margin-bottom: 25vmin;


}



.frame__button:focus {
    outline: none;
    opacity: 0.9;

}

.frame__content {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.frame__content-title {
    margin: 0, auto;
    /* padding-bottom: 1rem; */
    line-height: 1;
    font-size: 20px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #fff;
    position: relative;
    /* text-shadow: 0 1px 6px rgba(0,0,0,0.1); */
}



.frame__content-text {
    max-width: 600px;
    font-size: 1rem;
    margin: 2rem auto 3rem;
}

.frame__switch-item {
    cursor: pointer;
    padding: 0.85rem 1.25rem;
    border: 1px solid #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18px;
    /* margin: 0 1rem; */
    display: inline-block;
    margin-bottom: 1rem;
    transition: 1s;
}

.frame__switch-item--current,
.frame__switch-item:hover,
.frame__switch-item:focus {
    text-decoration: none;
}

.frame__switch-item--current {
    pointer-events: none;
    opacity: 1;
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: 1s;

}

.frame__content-text,
.frame__switch {
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.video-started .frame__content-text,
.video-started .frame__switch {
    opacity: 1;
}

.video {
    pointer-events: none;
}

#canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wrapper {
    width: 100%;
    height: var(--app-height);
    display: flex;
    pointer-events: none;
}

.plane {
    width: 100vw;
    height: var(--app-height);
    position: relative;
    z-index: 100;
}

.plane video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    display: none;
}




.description {
font-weight: 600;
font-size: 20px;
line-height: 1;
letter-spacing: -0.01em;
color: #A1DEF1;
margin-top: 16px;
margin-bottom: 16px;
max-width: 265px;
}